.landin_page{  
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #F3FFFD;
  background-image: url(../../assets/background1.png);
  background-repeat: no-repeat;
  width: 100%;

}

.landin_page .banner {
  flex-grow: 0;
  flex-basis: auto; 
  padding-right: 25px;
  
}

.banner_ajuste{
  display: flexbox;
  justify-content: space-between;
  width: 100%;
}

.frase_banner {
  display: flex;
  justify-content: space-between;
  text-align: end;
  color:#F3FFFD ;
  font-size: large;
  height: 70vh;
  padding-top: 150px;
  font-size: 25px;
}

.botao_landin {
  width: 50%;
  background-color: #41748d;
  border-color: #41748d;
  border-radius: 7px;
  box-shadow: none;
}

.botao_landin:hover {
  background-color: #f3fffd;
  border-color: #41748d;
  color: #41748d;
}



.cartaz1{
  background-color: #5C9FB4;
  border-radius: 25px;
  
}
.text-center {
  margin-top: 2%;
  padding: 2%;
}

.texto_cartaz {
  font-size: large;
  width: 90%;
  padding: 3% ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botao_landin2 {
  width: 50%;
  background-color: #41748d;
  border-color: #41748d;
  margin-right: 30px;
  margin-top: 2%;
  border-radius: 7px;
  box-shadow: none;
}

.botao_landin2:hover {
  background-color: #f3fffd;
  border-color: #41748d;
  color: #41748d;
}

.img_cartaz1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_landin {
  background-color: orange;
  height: 75%;
  width: 75%;
  border-radius: 15px;
}


.botao_saibamais_1{
  background-color: #F3FFFD;
  color:  #500856;
  border-color: #F3FFFD;
  
  width: 50%;
}

.img_ted {
  margin-top: 15%;
  width: 50%;
}

.cartaz_sobre_nos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.economize {
  background-image: url(../../assets/FundoPorquinho.png);
  background-repeat: no-repeat;
  color: #F3FFFD;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.porque_nos{
  background-image: url(../../assets/FundoInterroga.png);
  background-repeat: no-repeat;
  color: #F3FFFD;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao_saibamais_2{
  background-color: #F3FFFD;
  color:  #41748D;
  border-color: #F3FFFD;
  width: 50%;
}



.estresse{
  background-image: url(../../assets/FundoEstresse.png);
  background-repeat: no-repeat;
  height: 100vh;
  color: #F3FFFD;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}





.botao_saibamais_3{
  background-color: #F3FFFD;
  color:  #FF9877;
  border-color: #F3FFFD;
  
  width: 50%;
}


.botao_saibamais_1:hover{
  background-color:#500856 ;
  color:  #F3FFFD ;
  border-color: #F3FFFD;
  
  width: 50%;
}


.botao_saibamais_2:hover{
  background-color: #41748D;
  color: #F3FFFD ;
  border-color: #F3FFFD;
  
  width: 50%;
}

.botao_saibamais_3:hover{
  background-color: #FF9877;
  color:  #F3FFFD;
  border-color: #F3FFFD;
  
  width: 50%;
}




