@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&display=swap');


#nav-bar {
    position: fixed;
    width: 100%;

    z-index: 10;  
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #F3FFFD;
    
}

.button {
    display: flex;
    justify-content: end;

}

.button Button{
    margin-right: 30px;
    border-radius: 7px;
    box-shadow: none;
    background-color: #41748D;
    border-color: #41748D;
    


}

.button Button:hover{
    background-color: #F3FFFD;
    border-color: #41748D;
    color: #41748D;
}


